<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<title>sberbank-russian-housing-market</title>
</head>
<body>
	<div class="body">
		<h1>Сбербанк Российский рынок жилья</h1>
	
		<form class="card" style="width: 100%" method="post">
			<img src="https://storage.googleapis.com/kaggle-media/learn/images/lTJVG4e.png" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Описание</h5>
			  <p class="card-text">Затраты на жилье требуют значительных инвестиций как со стороны потребителей, так и со стороны застройщиков. А когда дело доходит до планирования бюджета — личного или корпоративного, — последнее, что кому-то нужно, — это неуверенность в отношении одного из своих самых крупных расходов. Сбербанк, старейший и крупнейший банк России, помогает своим клиентам, прогнозируя цены на недвижимость, поэтому арендаторы, застройщики и кредиторы чувствуют себя более уверенно при подписании договора аренды или покупке здания.
				<br>Хотя рынок жилья в России относительно стабилен, нестабильная экономика страны делает прогнозирование цен в зависимости от характеристик квартир уникальной задачей. Сложных взаимодействий между характеристиками жилья, такими как количество спален и местоположение, достаточно, чтобы усложнить прогнозирование цен. Добавление к этому нестабильной экономики означает, что Сбербанку и его клиентам нужно нечто большее, чем простые регрессионные модели в их арсенале. </p>
			  <button class="btn btn-success" value="submit">Расчитать</button>
			</div>
		</form>
	</div>
	<style>
		body{
			margin: 0;
			padding: 20%;
			padding-top: 5%;
		}
		.body{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	</style>
</body>
</html>